.box1{
    background-color: #68A7AD;
    height: 120px;
}

.box2{
    background-color: #68A7AD;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #fff;
}

.textos{
   color: #fff;
}