.caixa{
    background-color: #B7E5DD !important;
}

.titulo{
    color: #fff !important;
    font-weight: bold !important;
 }

 .botao{
    border-color: #fff !important;
    background-color: #354259 !important;
    color: #fff !important;
}

.postagens{
    background-color: #fff !important;
}